<div style="padding: 2em;">
  <h1>Datos en la tabla</h1>
  <code>
    {{dataToTable|json}}
  </code>
  <br>
  <div style="padding: .5em;">
  <label style="margin-bottom: .5em;" for="favcolor">Selecciona un color:</label><br>
    <input type="color" id="favcolor" name="favcolor" value="#ffffff" #color>
  </div>
  <div style="padding: .5em;">
  <label style="margin-bottom: .5em;" >Selecciona un porcentaje para el ancho:</label><br>
    <input type="number" step="25" max="100" value="50" min="0" #width>
  </div>
  <button (click)="setModalState(true)">Abrir Modal</button>
</div>
<app-modal 
[ancho]="width.value"
[color]="color.value"></app-modal>
